@import '../../styles';

body,
html {
    background: linear-gradient(to top, #004099 0%, $brand-color 100%) !important;
}

.login {
    max-width: 400px;
}

.login-link {
    border-bottom: 1px dotted #909090;
    color: #909090 !important;
    font-size: 0.8em;
    text-transform: initial !important;
    transition: all 1s;
}

.login-link:hover {
    color: $brand-color !important;
}