$sidenav-color: #FFF;

.side-nav {
    background-color: #000E22;
}

.side-nav a {
    color: $sidenav-color;
}

.side-nav li > a {
    font-weight: 100;
    font-size: 1.1em;
    transition: all 1s;
}

.side-nav > li > a:hover {
    background-color: #001C44;
}

.side-nav > li > a > i {
    color: $sidenav-color;
}

.side-nav .userView .name {
    font-size: 2em;
    font-weight: 100;
}

.side-nav .divider {
    background-color: #001F44;
}